@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 10px;
  font-family: 'Nunito', sans-serif; /* https://fonts.google.com/specimen/Nunito */
}

body {
  width: 100%;
  background-color: #8854d0; /* https://flatuicolors.com/palette/de */
}

#demo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
}

.cards {
  background-color: #f1f1f140;
  backdrop-filter: blur(10px);
  width: 15vw;
  min-height: 50vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  box-shadow: 2px 4px 10px #57657470;
}

.covers {
  margin-top: 1rem;
  border-radius: 50%;
  border: solid 2px #a55eea50;
  height: 20vh;
}

.titles {
  margin: 2rem 0 1rem 0;
  font-size: 3rem;
  color: plum;
}

.contents {
  font-size: 1.4rem;
  color: plum;
  font-weight: 600;
  align-self: flex-start;
}

.dynamic-text {
  font-size: 1.5rem;
  color: #f3f3f399;
  margin-left: .5rem;
  text-decoration: none;
}

.fab {
  margin-top: 1.8rem;
  font-size: 4rem;
  text-align: center;
  width: 100%;
  filter: drop-shadow(1px 1px 1px #57657490);
  color: plum;
  outline: none;
}