.main-wrapper {
background-color: rgb(196, 224, 245);
color: rgb(54, 54, 54);
padding: 1rem;
border-radius: 15px;
margin: 15px;
}

body {
    align-items: center;
    font-family: 'Oswald', sans-serif;
    padding: 2rem;
    border-radius: 15px;
}

#photo1, #photo2, #photo3, #photo4, #photo5 {
    width: 25rem;
    border-radius: 15px;
    display: flex
}
