 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #96d4ce;
    padding-top: 20px;
}
h1 {   
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
ul {
    align-items: flex-start;
    background-color: #e8f1f0;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    justify-content: flex-start;
    min-height: 450px;
    list-style: none;
    margin: 20px auto;
    padding: 20px;
    max-width: 260px;
    width: 80%;
}
img {
    height: 220px;
    max-width: 220px;
    width: 100%;
}
h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;      
}



