@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
  }

  body{
   background-color: rgb(228, 228, 34);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  }

  header{
    text-align: center;
    padding: 50px;
  }

  select {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
  }

  main{
    background-color: white;
    display: none;
    flex-direction: row-reverse;
    margin-top: 30px;
  }

  .informaçao{
    padding: 40px;
    width: 300px;
  }

  section p{
    font-style: oblique;
  }

  main img{
    height: 300px;
    width: 300px;
    margin-top: 33px;
  }

  .card{
    width: 200px;
    height: 250px;
    list-style: none;
    text-align: center;

  }

  .card img{
    height: 150px;
    border-radius: 50%;
    width: 150px;
    margin: 15px;
  }

  .card h2{
     font-size: 25px;
     font-style: italic;
  }

  ul{
    display: flex;
    padding: 20px;
  }

  h1{
    font-style: oblique;
    font-size: 40px;
  }


  a {
    display: block;
    text-align: center;
    font-size: 30px;
    color: blueviolet;
  }



